html {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Noto Sans', sans-serif;
  color: white;
  background-color: black;
  padding-left: 80px;
  padding-right: 60px;
  padding-top: 40px; }

hr {
  margin: 0;
  margin-top: 5px;
  background-color: white;
  height: 1px; }

h1 {
  font-size: 60px; }

h2 {
  font-weight: lighter; }

.color-white {
  color: white; }

ul {
  padding: 0px; }

a {
  text-decoration: none;
  color: white; }

/*HEADER*/
.contenedor-header {
  grid-area: header; }

.img-little {
  width: 30px;
  height: 30px;
  filter: grayscale(1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10px; }

.enlaces {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.enlaces-redes {
  width: 130px;
  margin-top: 3px; }

#formato {
  margin-left: 30px; }

/*MAIN*/
.contenedor-main {
  height: 660px;
  margin-top: 50px;
  background-color: #191919;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden; }

.contenedor-main .titulo h3 {
  margin-top: 50px;
  font-weight: lighter; }

.contenedor-main .titulo p {
  text-decoration: none;
  margin-top: 50px;
  padding: 15px;
  border-radius: 71px 71px 71px 71px;
  -moz-border-radius: 71px 71px 71px 71px;
  -webkit-border-radius: 71px 71px 71px 71px;
  border: 1px solid #ffffff; }

.contenedor-main .imagenes img {
  transition: margin 1s ease; }

.contenedor-main .imagenes img:hover {
  margin-top: -200px; }

.titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 160px; }

/*NOSOTROS*/
.inicio-nosotros {
  margin-top: 30px;
  padding-left: 50px;
  height: 400px;
  background-image: url(../img/rbd_nosotros.jpg);
  background-size: cover;
  filter: grayscale(1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.inicio-nosotros h2 {
  font-size: 34px; }

.inicio-nosotros p {
  margin: 0px 200px;
  font-size: 18px; }

/*CAROUSEL PROYECTOS*/
.inicio-proyectos {
  margin-top: 30px; }

.d-block {
  filter: grayscale(0.7); }

.contenedor-imagenes {
  height: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.img {
  height: 400px;
  width: 550px; }

/*FOOTER*/
.footer-line {
  margin-top: 25px; }

.contenedor-footer {
  grid-area: footer;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center; }

/*--------------------------MediaQuery-----------------------------*/
@media only screen and (max-width: 800px) {
  body {
    padding-left: 10px;
    padding-right: 10px; }

  h1 {
    font-size: 40px;
    font-weight: lighter;
    margin: 0px 0px; }

  h3 {
    font-size: 20px; }

  /*HEADER*/
  .contenedor-header h2 {
    display: flex;
    justify-content: center; }

  .enlaces {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px; }

  .enlaces-web ul {
    display: flex;
    flex-direction: column; }

  #formato {
    margin-left: 0px; }

  /*MAIN*/
  .contenedor-main {
    height: 400px;
    background-image: url(../img/rbd_5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center; }

  .imagenes {
    display: none; }

  .titulo {
    padding: 0px; }

  .contenedor-main .titulo h3 {
    width: auto;
    margin-top: 50px;
    font-weight: lighter; }

  /*NOSOTROS*/
  .inicio-nosotros {
    padding-left: 10px; }

  .inicio-nosotros p {
    margin: 0px 2px;
    font-size: 15px; }

  .inicio-nosotros a {
    margin-top: 10px;
    font-size: 15px; }

  /*CAROUSEL PROYECTOS*/
  .contenedor-imagenes {
    height: 350px; }

  /*FOOTER*/
  .footer-line {
    margin-top: 25px; }

  .contenedor-footer {
    grid-area: footer;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center; } }
/*PANTALLA MENOR A 480px*/
@media only screen and (max-width: 480px) {
  /*CAROUSEL PROYECTOS*/
  .contenedor-imagenes {
    height: 250px; } }
