body {
  height: 100%; }

.contenedor .titulos {
  background-image: url(../img/rbd_nosotrosHome.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: grayscale(0.7); }

main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.valores {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

.imagenValores {
  margin-top: 30px;
  margin-bottom: 15px;
  filter: grayscale(0.5); }

.mobile {
  display: none; }

/*MOBILE*/
@media only screen and (max-width: 600px) {
  body {
    height: 100%; }

  .contenedor .titulos {
    margin-top: 20px; }

  main {
    display: wrap;
    flex-wrap: wrap; }

  main .valores {
    width: 100%;
    margin-top: 10px; }

  main .valores section {
    padding-right: 10px; }

  .mobile {
    display: block; }

  .pc {
    display: none; }

  .mobile {
    width: auto; }

  .mobile img {
    width: 100%;
    height: 500px; }

  .valores {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }

  .imagenValores {
    margin-top: 30px;
    margin-bottom: 15px;
    filter: grayscale(0.5); } }
