@charset "UTF-8";
.contenedor-servicios .titulo-servicios {
  background-image: url(../img/rbd_puente.jpg);
  background-size: cover;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 25px;
  filter: grayscale(1); }

p {
  padding-right: 50px;
  width: 750px; }

.contenedor-servicios .titulo-servicios p {
  margin-top: 30px; }

.contenedor-servicios .seccion-servicios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 80px; }

.contenedor-servicios .servicio {
  display: flex;
  margin-top: 100px; }

.contenedor-servicios .texto-servicio {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center; }

p {
  padding: 30px 100px; }

#imagen-servicio {
  transition: transform .6s; }

#video {
  transition: transform .9s; }

.fondo {
  background-color: #d1d2d6;
  height: 300px;
  width: 1200px;
  overflow: hidden;
  color: black; }

.servicio img {
  width: 600px; }

.servicio video {
  width: 600px; }

.multimedia {
  background-color: black;
  filter: grayscale(0.7); }

/*Footer*/
.footer-servicios {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.marca p {
  width: max-content;
  margin: 10px 0px;
  padding: 0px; }

.proyectos {
  height: 1px;
  background-color: white;
  clear: both; }

/*VERSIÓN MOBILE*/
@media screen and (max-width: 600px) {
  .contenedor-servicios .titulo-servicios {
    flex-direction: column;
    margin-top: 20px;
    height: auto; }

  .contenedor-servicios .titulo-servicios div p {
    width: auto;
    margin: 0px;
    padding: 5px 5px 10px 2px;
    margin-top: 5px; }

  .contenedor-servicios .seccion-servicios {
    display: flex;
    flex-direction: column; }

  .contenedor-servicios .servicio {
    width: auto;
    margin-top: 20px; }

  .multimedia {
    display: none; }

  .contenedor-servicios .texto-servicio {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    text-align: center; }

  p {
    width: auto;
    margin-top: 10px;
    padding: 0px 10px; } }
