/*PROYECTOS*/
.imagenes-chicas{
    margin-top: 15px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}

.imagenes-chicas img {
    width: 90px;
    height: 80px;
}

/*Efecto imagen chica*/ 

@keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  
  .fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease-in 1 forwards;
  }
  

  .img-proyectos {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  }
  
.proyecto-modelo {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
 }

 .color{
     background-color: #191919;
 }
 .tamaño-imagen-par {
     height: 400px;
     width: 600px;
     transition: transform .3s;
     filter: grayscale(0.7);
 }
 
 .tamaño-imagen-impar {
     height: 400px;
     width: 600px;
     transition: transform .3s;
     filter: grayscale(0.7);
 }
 
 .contenedor-proyectos {
     margin-top: 50px;
 }
 
 .contenedor-proyectos .titulos {
     background-image: url(../img/rbd_city.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position-y: center;
     height: 300px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 
 
 .contenedor-proyectos .img-proyectos .proyecto-barrio {
     margin-left: 20px;
 }
 
 .contenedor-proyectos .img-proyectos .proyecto-museoTandil {
     margin-left: 20px;
 }
 
 /*FOOTER*/
 .proyectos{
    height: 1px;
    background-color: white;
     clear: both;
 }